.container-fluid {
  height: auto;
  background-size: cover;
}
.ping-header {
   font-family: 'IM Fell English SC', serif;
   text-align: center;
   color: #ff5252;
  font-size: 200px;
}
body {
  font-family: 'Dosis', sans-serif;
  background-image: url("../img/ninja.png");
}
