.container-fluid {
  height: auto;
  background-size: cover;
}
.ping-header {
   font-family: 'IM Fell English SC', serif;
   text-align: center;
   color: #ff5252;
  font-size: 150px;
}
body {
  font-family: 'Dosis', sans-serif;
  background-image: url("../img/ninja.png");
  height: auto;
}
.btn {
  background-color: white;
  border-color: #ff5252;
  font-family: 'IM Fell English SC', serif;
  font-size: 50px;
  color: #ff5252;
  border-style:
}
.form-group {
  font-size: 30px;
  color: #b1ffcf;
}
.output-ping {
  font-size: 30px;
  color: #b1ffcf;
}

.htp {
  font-family: 'IM Fell DW Pica SC', serif;
  float: right;
  color: #ff5252;
  font-size: 20px;
  border-radius: 30px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
}
